# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
orbs:
  aws-cli: circleci/aws-cli@3.1
  aws-ecr: circleci/aws-ecr@8.2.1
  aws-eks: circleci/aws-eks@2.1.2
  kubernetes: circleci/kubernetes@1.3.1
# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/2.0/configuration-reference/#jobs
jobs:
  # Below is the definition of your job to build and test your app, you can rename and customize it as you want.
  build-and-test:
    # These next lines define a Docker executor: https://circleci.com/docs/2.0/executor-types/
    # You can specify an image from Dockerhub or use one of our Convenience Images from CircleCI's Developer Hub.
    # Be sure to update the Docker image tag below to openjdk version of your application.
    # A list of available CircleCI Docker Convenience Images are available here: https://circleci.com/developer/images/image/cimg/openjdk
    docker:
      - image: cimg/openjdk:17.0
    # Add steps to the job
    # See: https://circleci.com/docs/2.0/configuration-reference/#steps
    steps:
      # Checkout the code as the first step.
      - checkout
      # Use mvn clean and package as the standard maven build phase
      - run:
          name: Build
          command: mvn -B -DskipTests clean package
      # Then run your tests!
      - run:
          name: Test
          command: mvn test
      - save_cache:
          key: backend-0.0.1-SNAPSHOT.jar
          paths:
            - target/backend-0.0.1-SNAPSHOT.jar
      - store_artifacts:
          path: target/backend-0.0.1-SNAPSHOT.jar
          destination: target/backend-0.0.1-SNAPSHOT.jar 
  aws-job:
    docker:
      - image: cimg/aws:2022.06
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.14
      - restore_cache:
          keys: 
            - backend-0.0.1-SNAPSHOT.jar

      # run the aws-cli/setup command from the orb
      - aws-cli/setup:
          role-arn: 'arn:aws:iam::463471358064:role/CircleCIRole'
          aws-region: AWS_DEFAULT_REGION
          # optional parameters
          profile-name: CircleCIRole
          role-session-name: CircleSession
          session-duration: '1800'
      - run:
          name: Log-into-AWS-ECR
          command: |
            # must use same profile specified in the step above       
            aws ecr get-login-password --profile "CircleCIRole" 
      - aws-ecr/build-and-push-image:
          repo: "${AWS_RESOURCE_NAME_PREFIX}"
          region: ${AWS_DEFAULT_REGION}
          #tag: "${CIRCLE_SHA1}"
  deploy-project:
    docker:
      - image: cimg/aws:2022.06
    steps:
      - checkout
      - aws-cli/setup:
          role-arn: 'arn:aws:iam::463471358064:role/CircleCIRole'
          aws-region: AWS_DEFAULT_REGION
          # optional parameters
          profile-name: CircleCIRole
          role-session-name: CircleSession
          session-duration: '1800' 
      - kubernetes/create-or-update-resource:
          get-rollout-status: true
          resource-file-path: helm-chart/portal-backend-dep.yml
          resource-name: deployment/govstack-backend
          show-kubectl-command: true
# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  Build project and publish to ECR : # This is the name of the workflow, feel free to change it to better match your workflow.
    # Inside the workflow, you define the jobs you want to run.
    jobs:
      - build-and-test
      - aws-job:
          context: aws
  Deploy project to DEV environment:
    jobs:
      - deploy-project:
          type: approval